.backg {
    /* height: 90px; */
}

.vasat {
    margin-top: 40px;
}
.wid{
    width: 200px;
}
.v1 {
    top: 100%;
}
.wi{
    width: 450px;
    height: 400px;
}
@media (min-width:760px) {
    .wi {
        width: 100%;
        height: 100%;
        transform: translate(40px, -40px);
    }
}

.shape {
    width: 100%;
    height: 100%;
    border: 5px solid #feb912;
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;
}

.wi2 {
    position: absolute;
    top: 0;
    right: -350px;
    display: none;
}
@media (min-width:760px) {
    .shape{
        display: block;
    }
    .wi2{
        display: block;
    }
}
.nav-item{
    gap: 50px;
}
.fig {
    width: 450px;
    height: 450px;
    position: relative;
}

/* @media (min-width: 768px) {
    .fig {
        transform: translateY(-100px);
    }
} */


.backgr {
    background-color: #191919;
    position: relative;
    padding-top: 70px;
}

.bala {
    color: #feb912;
    padding: 60px;
}

.shape2 {
    transform: rotate(180deg);
}

.line-yellow {
    width: 100%;
    height: 10px;
    background-color: red;
    background-color: #191919;
    position: absolute;
    bottom: -7px;
    z-index: 50;
}
.aks>figure>img{
    height: 190px;
    object-fit: cover;
    opacity: 1;
}
.aks>figure>img:hover{
   opacity: 0.5;
}
.click{
    padding: 25px;
    border: none;
   background-color: #feb912;
   justify-content: center;
   align-items: center;
}
.icon{
    gap: 50px;
    font-size: 25px;
    color: #feb912;
}